<section class="requests container">
    <div class="request_item">
        <div class="request_item__header">
            <span class="request_item__number" >۱</span>
            <span class="request_item__upload">آپلود مستندات</span>
            <span class="request_item__date">۱۴۰۲/۱۰/۲۵</span>
        </div>
        <div class="request_item__main">
            <span class="request_item__request-text">درخواست عضویت</span>
            <span class="request_item__request-id-name">شناسه درخواست</span>
            <span class="request_item__request-id">#۱۴۳۴۵۸۷</span>
        </div>
        <div class="request_item__footer">
            <span class="request_item__image"><img src="/assets/image/user1.jpg" alt="کاربر شماره ۱"></span>
            <span class="request_item__name">امین غلام پور</span>
            <span class="request_item__btn" ><button class="btn btn--primary">مشاهده درخواست</button></span>
        </div>
    </div>
    <div class="request_item">
        <div class="request_item__header">
            <span class="request_item__number" >۲</span>
            <span class="request_item__upload">آپلود مستندات</span>
            <span class="request_item__date">۱۴۰۲/۱۰/۲۵</span>
        </div>
        <div class="request_item__main">
            <span class="request_item__request-text">درخواست عضویت</span>
            <span>شناسه درخواست</span>
            <span>#۱۴۳۴۵۸۷</span>
        </div>
        <div class="request_item__footer">
            <span class="request_item__image"><img src="/assets/image/user1.jpg" alt="کاربر شماره ۱"></span>
            <span class="request_item__name">امین غلام پور</span>
            <span class="request_item__btn" ><button class="btn btn--primary">مشاهده درخواست</button></span>
        </div>
    </div>
    <div class="request_item">
        <div class="request_item__header">
            <span class="request_item__number" >۳</span>
            <span class="request_item__upload">آپلود مستندات</span>
            <span class="request_item__date">۱۴۰۲/۱۰/۲۵</span>
        </div>
        <div class="request_item__main">
            <span class="request_item__request-text">درخواست عضویت</span>
            <span>شناسه درخواست</span>
            <span>#۱۴۳۴۵۸۷</span>
        </div>
        <div class="request_item__footer">
            <span class="request_item__image"><img src="/assets/image/user1.jpg" alt="کاربر شماره ۱"></span>
            <span class="request_item__name">امین غلام پور</span>
            <span class="request_item__btn" ><button class="btn btn--primary">مشاهده درخواست</button></span>
        </div>
    </div>
    <div class="request_item">
        <div class="request_item__header">
            <span class="request_item__number" >۴</span>
            <span class="request_item__upload">آپلود مستندات</span>
            <span class="request_item__date">۱۴۰۲/۱۰/۲۵</span>
        </div>
        <div class="request_item__main">
            <span class="request_item__request-text">درخواست عضویت</span>
            <span>شناسه درخواست</span>
            <span>#۱۴۳۴۵۸۷</span>
        </div>
        <div class="request_item__footer">
            <span class="request_item__image"><img src="/assets/image/user1.jpg" alt="کاربر شماره ۱"></span>
            <span class="request_item__name">امین غلام پور</span>
            <span class="request_item__btn" ><button class="btn btn--primary">مشاهده درخواست</button></span>
        </div>
    </div>
    <div class="request_item">
        <div class="request_item__header">
            <span class="request_item__number" >۵</span>
            <span class="request_item__upload">آپلود مستندات</span>
            <span class="request_item__date">۱۴۰۲/۱۰/۲۵</span>
        </div>
        <div class="request_item__main">
            <span class="request_item__request-text">درخواست عضویت</span>
            <span>شناسه درخواست</span>
            <span>#۱۴۳۴۵۸۷</span>
        </div>
        <div class="request_item__footer">
            <span class="request_item__image"><img src="/assets/image/user1.jpg" alt="کاربر شماره ۱"></span>
            <span class="request_item__name">امین غلام پور</span>
            <span class="request_item__btn" ><button class="btn btn--primary">مشاهده درخواست</button></span>
        </div>
    </div>
    <div class="request_item">
        <div class="request_item__header">
            <span class="request_item__number" >۶</span>
            <span class="request_item__upload">آپلود مستندات</span>
            <span class="request_item__date">۱۴۰۲/۱۰/۲۵</span>
        </div>
        <div class="request_item__main">
            <span class="request_item__request-text">درخواست عضویت</span>
            <span>شناسه درخواست</span>
            <span>#۱۴۳۴۵۸۷</span>
        </div>
        <div class="request_item__footer">
            <span class="request_item__image"><img src="/assets/image/user1.jpg" alt="کاربر شماره ۱"></span>
            <span class="request_item__name">امین غلام پور</span>
            <span class="request_item__btn" ><button class="btn btn--primary">مشاهده درخواست</button></span>
        </div>
    </div>
</section>