@font-face {
    font-family: 'estedad';
    src: url(/assets/font/estedad/Estedad-Regular.woff2);
    font-weight: 400;
    font-style: normal;
}
@font-face {
    font-family: 'estedad';
    src: url(/assets/font/estedad/Estedad-Medium.woff2);
    font-weight: 500;
    font-style: normal;
}
@font-face {
    font-family: 'estedad';
    src: url(/assets/font/estedad/Estedad-Bold.woff2);
    font-weight: 700;
    font-style: normal;
}

body,button{
    font-family:'estedad';
}
